* { 
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

body {
  font-family: Raleway, Tahoma, sans-serif;
  background-color: #333D29;
  color: #B6AD90;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

p {
  font-size: 1.125em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  letter-spacing: 0.05em;
}

.content a {
  font-size: 1.125em;
  color: #A68A64;
}

h1 {
  font-size: 1.875em;
}

h2 {
  font-size: 1.5em;
}
  
.header {
  display: flex;
  width: 100%;
  justify-content: end;
}
  
a {
  font-size: 1.875em;
  color: #333;
  text-decoration: none;
  transition: all 1s;
}
a:hover {
  color: #C2C5AA;
}
  
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  position: sticky;
  top: 0.938rem;
  z-index: 100;
  height: auto;
}

.menu-container {
  display: inline-flex;
  border: 1px solid #C2C5AA;
  border-radius: 8px;
  height: auto;
}
  
tab {
  background-color: #333D29; /* #294a6d */
  margin: 0px;
  padding: 0px;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, .2);
}
  
.menu-container a {
  padding: 0.5rem 0.938rem;
  border: 0;
  border-radius: 8px;
  display: inline-block;
  text-decoration: none;
  color: #B6AD90;
  position: relative;
  transition: 0.4s ease-in-out;
  
  @media (max-width: 768px) {
    &:nth-child(3) {
      display: none;
    }
  }
}

.menu-container a:hover {
  background-color: #C2C5AA;
  color: #333D29;
  border-radius: 8px;
}
  
.start {
  width: 0px;
  left: 0px;
}
  
.animations {
  position: absolute;
  height: 362.5%;
  background-color: #1abc9c;
  border-radius: 8px;
  top: 0px;
  z-index: 0;
  transition: all .3s ease 0s;
}

.content {
  width: 60%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

#hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url('img/hero.png'); 
  background-color: #333D29; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background-color 1s ease-out; 
}

.hero-content {
  max-width: 80%;
}

@media (max-width: 768px) {
  #hero h1 {
      font-size: 2rem;
  }

  #hero p {
      font-size: 1.2rem;
  }
}

.title-section {
  flex: 1;
  margin: 0 auto;
  width: 56.5%;
  margin-bottom: -3.125rem;
}
#subtitle {
  font-size: 1.75em;
  color: #fff;
}
#title-container {
  display: inline-block;
}
#title {
  font-size: 3.75rem;
  font-weight: bold;
  color: #fff;
  overflow: hidden;
  border-right: 0.05em solid #fff;
  white-space: nowrap;
  width: 0;
  letter-spacing: 0.05em;
  animation: typing 2.5s steps(25, end) forwards, blink-caret 0.9s step-end infinite;
}
@keyframes typing {
  from { width: 0% }
  to { width: 99% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% {border-color: #fff; }
}

.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -2.5rem;
  animation: fadeIn 4s forwards;
}
.info-container {
  margin: 2rem;
  min-width: 35%;
  flex: 1;
  text-align: justify;

}
.headshot {
  flex: 1;
  flex-shrink: 0;
  margin-left: 2rem;
  margin-bottom: 2rem;
  background: url('img/headshot.png');
  border-radius: 90%;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  max-height: 100%;
  width: 25rem;
  height: 25rem;
}

.experience, .about {
  margin: 0 auto;
  width: 95%;
  display: block;
}

.basic-container {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.contentbtn {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  background-color: transparent;
  color: #fff;
  border: 1px solid #1abc9c;
  border-radius: 8px;
  font-size: 1.5em;
  font-weight: lighter;
  padding: 1rem 1.125rem;
  cursor: pointer;
  transition: 0.4s;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, .2);
}

.contentbtn:hover {
  background-color: #1abc9c;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #B6AD90;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #B6AD90;
  border: 4px solid #936639;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #B6AD90;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #B6AD90;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #B6AD90;
  border-width: 10px 10px 10px 0;
  border-color: transparent #B6AD90 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.timeline-content {
  padding: 5px 20px;
  background-color: #B6AD90;
  position: relative;
  border-radius: 6px;
  color: #333D29;
  width: 100%;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .timeline-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .timeline-container::before {
    left: 60px;
    border: medium solid #B6AD90;
    border-width: 10px 10px 10px 0;
    border-color: transparent #B6AD90 transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

.job-skills-list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.job-skill-item {
  background-color: #333D29;
  color: #B6AD90;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.5rem 0.938rem;
  border-radius: 8px;
  margin-right: 0.625rem;
  margin-bottom: 0.625rem;
}

.skills {
  max-width: 38%;
  height: auto;
  text-align: justify;
}
.skills-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.skills-container li:not(:last-child) {
  margin-bottom: 0.938rem;
}
.languages {
  max-width: 50%;
  flex: 1;
}
.tech {
  max-width: 50%;
}

.project {
  width: 50%;
  margin: 0 auto;
  align-items: center;
  padding: 0.625rem 0.313rem;
  border-radius: 8px;
  background-color: #051c2c;
  transition: all 1s;
  box-shadow: rgba(0, 0, 0, .2);
  text-align: center;
}
#proj-img {
  width: 50%;
  height: 50%;
  float: center;
  border-radius: 100%;
}
#skills {
  color: #a3a3a3;
  font-style: italic;
}
.prev-btn, .next-btn, .copy-button {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  color: #1abc9c;
  font-size: 2.5rem;
  background: transparent;
  border: none;
  transition: all 1s;
  cursor: pointer;
}
.prev-btn:hover, .next-btn:hover {
  color: #fff;
}
.project-counter {
  color: #a3a3a3;
  margin-top: 0.5rem;
}

.contact-container {
  width: 50%;
  margin: 0 auto;
  display: flexbox;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.563rem;
}
.copy-container {
  display: block;
  width: 80%;
  margin: 0 auto;
}
.contact-copy {
  width: 90%;
  background-color: #0a2e46;
  color: #fff;
  border: 1px solid #1abc9c;
}
.copy-button {
  display: inline-block;
  font-size: 1rem;
}
.social-container {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
  background: transparent;
  border: none;
}
.social-container a {
  font-size: 2rem;
  padding: 0.625rem;
  display: inline-flex;
}
abbr {
  text-decoration: none;
}

footer {
  text-align: center;
  color: #fff;
  font-size: 0.625em;
  padding: 0.313rem;
}