body {
    font-family: Montserrat, sans-serif;
    background-color: #0a2e46;
  }

  p {
    font-size: 30px;
    color: white;
  }
  
  .header {
    display: flex;
    width: 100%;
    justify-content: end;
  }
  
    a {
      margin-bottom: 5px;
      font-size: 30px;
      color: #333;
      text-decoration: none;
      transition: all 1s;
    }
    a:hover {
    color: #fff;
    }
  
  .menu {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    position: sticky;
    top: 15px;
  }
  
    tab {
      background-color: #465667; /* #2c3e50 */
      margin: 0px;
      padding: 0px;
      border-radius: 8px;
      position: relative;
      box-shadow: 0 6px 6px 0 rgba(0, 0, 0, .2);
    }
  
      a {
        padding: 8px 15px;
        display: inline-block;
        text-decoration: none;
        color: #fff;
        position: relative;
        z-index: 1;
        
        @media (max-width: 768px) {
          &:nth-child(3) {
            display: none;
          }
        }
      }
  
      .start {
        width: 0px;
        left: 0px;
      }
  
      .animations {
        position: absolute;
        height: 58px;
        background-color: #1abc9c;
        border-radius: 8px;
        top: 0px;
        z-index: 0px;
        transition: all .3s ease 0s;
      }
  #topBtn {
    display: none;
    position: sticky;
    z-index: 2;
    background-color: #465667;
    color: #fff;
    border: 1px solid #1abc9c;
    cursor: pointer;
  }
  #topBtn:hover {
    color: #465667;
    background-color: #1abc9c;
  }
.content {
  width: 70%;
  justify-content: center;
  align-items: center;
}
.intro {
  display: flexbox;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.intro div:first-child {
  margin: 2rem;
  flex: 1;
}
.intro div:last-child {
  background-image: url("https://static01.nyt.com/images/2022/05/10/science/28DOGS-BEHAVIOR1/28DOGS-BEHAVIOR1-mediumSquareAt3X-v2.jpg");
  flex: 2;
}